# Flutter/Dart related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_bootstrap.h

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Xcode
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/.dart_tool/

# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/key.properties

# Flutter dependencies
**/generated_plugin_registrant.dart

# Firebase and Google Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Web build
web/.dart_tool/
web/flutter_bootstrap.h

# Windows & Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Misc
*.iml
*.swp
*.lock
*.log
*.tmp
*.DS_Store
